<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <center>
            <h1>Cotizacion</h1>
    <div style="background: darkcyan; width: 500px; height: 180px; border-radius:10px; color:white;">
        <form action="/cotizacion" method="post">
                
                    
            <div style="width: 500px;">
                <label for="">Valor del Automovil</label>
                <input type="number" name="valor" id="valor" required="true" value="<%=valor%>" class="form-control" style="width: 100px;">
            </div> 
            <label for="" style="margin-top: 10px;">Porcentaje de pago Inicial</label>
            <select name="pInicial" id="pInicial">
                <option value="10">10%</option>
                <option value="20">20%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select>
            <br>
            <label for="" style="margin-top: 10px; margin-bottom: 10px;">Plazos</label>

            <select name="plazos1" id="plazos1">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
                <option value="72">72 Meses</option>
            </select>
            <br>
            <button type="submit">Calcular</button> 
        </form>
    </div>
        </center>   
    </div>
        
    <section>
        <center>
            
            <%
            if(pInicial!=0){
                var pagoInicial = 0
                var totalFin = 0
                var pagoMensual = 0

                pagoInicial = valor * (pInicial/100);
                totalFin = valor - pagoInicial;
                pagoMensual = (totalFin / plazos1);
            }
            %>
            <hr>
            <h3>Resumen de Cotizacion</h3>
            <br>
            <div style="display: flex;flex-direction:column ;justify-content:center; background: darkcyan; width: 500px; border-radius:10px; color:white;" >
                

                
                Valor del Automovil <label for="" class="va"><%=valor%></label>
                
                Porcentaje de pago Inicial  : <label for="" class="pIni"><%=pInicial%></label>
                
                Plazos : <label for="" class="plz"><%=plazos1%></label> 
                
                Pago Inicial : <label for="" id="pI"><%=pagoInicial%></label> 
                
                Total a Finaciar: <label for="" id="tot"><%=totalFin%></label>
                
                Pago Mensual : <label for="" class="pm"></label><%=pagoMensual%>
        </center> 
            </div>
    </section>
    
        
   

</body>
</html>